.author-div{
    text-align: center;
    margin: 1rem;
}

.author-name {
    font-size: 26px;
    color: darkcyan;
    padding:0.8rem;
}

.author-shortSentense {
    font-size: 18px;
}

.author-introduction {
    margin-top:0.2rem;
    margin-bottom: 0.2rem;

    flex-wrap: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.author-detail {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.1rem;
}

.author-detail svg {
    margin: 0 0.2rem;
}

.account{
    margin-left: .5rem;
    margin-right: .5rem;
    font-size: 18px !important;
}