.author-div{
    text-align: center;
    margin: 1rem;
}

.author-name {
    font-size: 26px;
    color: darkcyan;
    padding:0.8rem;
}

.author-shortSentense {
    font-size: 18px;
}

.author-introduction {
    padding: 0.3rem;
    text-align: center;
}

.author-detail {
    text-align: left;
}

.author-detail svg {
    margin-right: 1rem;
    margin-left: 2rem;
    margin-top: auto;
    margin-bottom: auto;
}

.account{
    margin-left: .5rem;
    margin-right: .5rem;
    font-size: 18px !important;
}