/* .c-person {
    animation: c-rage 2s linear infinite;
}
.c-table {
    animation: c-tableSpin 2s linear infinite;
    transform-origin: 50% 33%;
}

@keyframes c-rage {
    from,
    10%,
    20%,
    30%,
    40%,
    50%,
    60%,
    70%,
    80%,
    90%,
    to {
        transform: translateX(0);
    }
    5%,
    15%,
    25%,
    35%,
    45%,
    55%,
    65%,
    75%,
    85%,
    95% {
        transform: translateX(-5%);
    }
}
@keyframes c-tableSpin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(2turn);
    }
}

.c > span {
    display: inline-block;
}

.c {
    background: #fff;
    color: #171717;
    font: 24px "Helvetica Neue", Helvetica, sans-serif;
    line-height: 1;
    text-align: center;
    padding: 1rem;
} */

/* Emoticon parts */
.mouth,
.arm,
.curtain,
.table {
    will-change: transform;
}

.outercontainer-cover{
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    padding-top: 3rem;
}

.container,
.trajectory,
.curtain {
    background: inherit;
}

.guy,
.arm,
.trajectory {
    border: 0.4em solid transparent;
}

.guy,
.arm,
.legs {
    border-right: 0.4em solid;
}

.guy,
.legs {
    border-left: 0.4em solid;
}

.eye,
.mouth,
.arm {
    position: absolute;
}

.eye,
.arm {
    border-radius: 50%;
}

.table,
.legs {
    height: 1.6em;
}

.container {
    height: 10em;
    min-width: 37.5em;
    position: relative;
}
.container > div {
    position: absolute;
}

.guy {
    border-radius: 15% / 60%;
    width: 13em;
    height: 5em;
}

.eye {
    border: 0.4em solid;
    width: 1em;
    height: 1em;
    top: 15%;
    left: 45%;
    animation: eyes 2s linear;
}
.eye + .eye {
    left: 80%;
}

.mouth {
    box-shadow: 0 0 0 0.2em currentColor inset;
    width: 1.6em;
    height: 1.6em;
    top: 48%;
    left: 64%;
    animation: mouth 2s cubic-bezier(0.17, 0.81, 0.29, 0.94);
}

.arm {
    width: 2.5em;
    height: 3.5em;
    top: -25%;
    left: -10%;
    transform-origin: 80% 80%;
    transform: rotate(45deg);
    animation: arms 2s cubic-bezier(0, 1, 0, 1);
}
.arm + .arm {
    left: 90%;
}

.trajectory {
    border-top: 0.4em solid;
    border-radius: 50%;
    top: 4em;
    left: 48%;
    width: 6em;
    height: 4em;
}

.curtain {
    width: 5em;
    height: 5em;
    transform: translate(-2em, -1.9em) rotate(135deg);
    transform-origin: 100% 100%;
    animation: showTrajectory 2s linear;
}

.table {
    border-bottom: 0.4em solid;
    width: 12em;
    top: 3.2em;
    left: 57%;
    transform: translateX(4.2em);
    transform-origin: -31% 50%;
    animation: table 2s linear;
}

.legs {
    margin: auto;
    width: 70%;
}

/* Animations */
@keyframes eyes {
    from,
    30%,
    38%,
    70% {
        background: currentColor;
        border: 0;
        transform: translate(0.4em, 0.4em) scale(1, 1);
    }
    34% {
        background: currentColor;
        border: 0;
        transform: translate(0.4em, 0.4em) scale(1, 0);
    }
    74.9% {
        background: currentColor;
        border: 0;
        transform: translate(0.4em, 0.4em) scale(1.5, 0);
    }
    75%,
    to {
        background: transparent;
        border: 0.4em solid;
        transform: translate(0, 0);
    }
}
@keyframes mouth {
    from,
    75% {
        height: 0.2em;
        transform: translateY(0.8em);
    }
    87.5%,
    to {
        height: 1.6em;
        transform: translateY(0);
    }
}
@keyframes arms {
    from,
    75% {
        transform: rotate(155deg);
    }
    to {
        transform: rotate(45deg);
    }
}
@keyframes showTrajectory {
    from,
    75% {
        transform: translate(-2em, -1.9em) rotate(45deg);
    }
    93%,
    to {
        transform: translate(-2em, -1.9em) rotate(136deg);
    }
}
@keyframes table {
    from,
    75% {
        transform: translateX(3.6em) rotate(-180deg);
    }
    93% {
        transform: translateX(3.6em) rotate(0);
    }
    to {
        transform: translateX(4.2em) rotate(0);
    }
}
@keyframes showReplay {
    from,
    99% {
        visibility: hidden;
    }
    to {
        visibility: visible;
    }
}
