.header {
    /* background-color: #FFF; */
    padding: 0.4rem;
    overflow: hidden;
    height: 3.2rem;
    border-bottom: 1px solid transparent;
    box-shadow: 0 1px 4px rgba(89, 90, 89, 0.28);
}

.header-logo {
    color: darkcyan;
    font-size: 1.4rem;
    text-align: left;
    margin-left: 3rem;
}

.header-switch{
    height: 100%;
    display: flex;
    align-items: center;
}

.header-span {
    margin-right: 1rem;
}