.index-header {
    font-size: 1.5rem;
    color: #1e90ff;
    padding: 0.5rem 0.5rem;
}

.top-container {
    /* background-color: #FFF; */
    border-radius: 0.3rem;
    margin-top: 1rem;
    border: 1px solid transparent;
}

.index-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
}

.index-container-title {
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    margin: 0.5rem;
}