/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: black;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}